{% extends "main.html" %}

{% block content %}

{% include "header.html"%}

<div class = 'jumbotron'>
     <div class="container">
     <div class="row">
        <div class="col-md-3 col-sm-3 left">
         <h3>Categories</h3>
	    {% for c in catalogall %}
            <a href = "{{url_for('showCatalogItems', catalog = c.name)}}"><h2>{{c.name}}</h2></a>
	    {% endfor %}
        </div>

      <div class="col-md-9 col-sm-9 right">
              <p><a href = "{{url_for('addItem')}}"> Add Item</a></p>
          <h3>Latest Items</h3>
          {% for i in item %}
            <a href = "{{url_for('showItemDescription', catalog = catalogall,item = i.name)}}"><h2>{{i.name}}</h2></a>
          {% endfor %}

      </div>
     </div>
 </div>
</div>

{% endblock %}
